.dashboard{
    --textcolor: #ffffffc2;
    --bgcolor1:#09091c;
    --bgcolor2:#10162a;
    --heightNav : 3.5rem;
    --border:#e8e8e8;
    --widhtSidebar:15rem;
    @media(max-width:1400px){
        --widhtSidebar:13rem;
    }
    height: 100vh;
    .opacity{
        opacity: .5;
    }
    .bcolor1{
        background: var(--bgcolor1);
    }
    .b-red{
        background: #d61d1d;
    }
    .b-green{
        background: #137713;
    }
    .c-white{
        color: white;
    }
    .paragraph{
        font-size: .9rem;
        @media(max-width:1400px){
            font-size: .8rem;
        }
    }
    .top-font{
        position: relative;
    }
    .flex-column{
        display: flex;
        flex-direction: column;
    }
    .btn-submit{
        padding: .5rem 1rem;
    }
    .upload{
        mask-image: url("../../assets/images/icons/upload.svg");
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
    }
    .MuiAccordion-root.Mui-expanded{
        margin-top: 0;
        margin-bottom: 0;
    }
    .MuiAccordion-root.Mui-expanded:first-child{
        margin-bottom: 0;
    }
    .MuiAccordionSummary-content,.MuiAccordionSummary-content.Mui-expanded{
        margin: 0;
    }
    .MuiAccordionSummary-root{
        padding: 0;
    }
    .MuiTypography-root.MuiTypography-body1{
        width: 100%;
    }
    .MuiAccordionSummary-root.Mui-expanded{
        min-height: auto;
    }
    .MuiCollapse-wrapper .MuiAccordionDetails-root{
        padding: 0;
    }
    .MuiPaper-elevation1{
        box-shadow: none;
    }
    .user{
        width: 100%;
        padding: 1rem;
        display: flex;
        .profile{
            width: 5rem;
            height: 5rem;
            display: flex;
            @media(max-width:1400px){
                width: 4rem;
                height: 4rem;
            }
        }
        .user-role{
            padding-left: 1rem;
            @media(max-width:1400px){
                padding-left: .7rem;
            }
            .role{
                display: block;
                font-weight: bold;
                margin-bottom: .3rem;
            }
            .role,.name{
                font-size: .8rem;
            }
            .name{
                display: block;
                line-height: .8rem;
            }
        }
    }
    .content-dashboard{
        display: flex;
        height: 100%;
        .brand-dashboard{
            height: var(--heightNav);
            min-height: var(--heightNav);
            letter-spacing: 2.5px;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 3%;
            background: #0e1829;
        }
        .envolves{
            width: var(--widhtSidebar);
            transition: .5s;
            display: flex;
            justify-content: flex-end;
            height: 100%;
        }
        .envolves.close{
            width: 0;
        }
        .sider-bar_bottom{
            height: 100%;
            overflow-y: scroll;
        }
        @keyframes animateScroll{
            0%{
                background: transparent;
            }
            100%{
                background: white;
            }
        }
        .sider-bar_bottom:hover{
            &::-webkit-scrollbar-thumb {
                animation: .5s animateScroll forwards;
                background-color: rgba(255, 255, 255, 0.363);
                border-radius: 4px;
                position: fixed;
            }
        }
        .sider-bar_bottom::-webkit-scrollbar {
            width: 0;     /* Tamaño del scroll en vertical */
            height: 0;    /* Tamaño del scroll en horizontal */
        }
        .sider-bar_bottom{
            &::-webkit-scrollbar-thumb{
                display: none;
            }
        }
        .sider-bar_bottom::-webkit-scrollbar-thumb:active {
            background-color: #999999;
            
        }

        .sider-bar_bottom::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 4px;
        }
        
        /* Cambiamos el fondo cuando esté en active o hover */
        .content-sidebar{
            width: var(--widhtSidebar);
            min-width: var(--widhtSidebar);
            height: 100vh;
            max-height: 100vh;
            min-height: 600px;
            background-color: var(--bgcolor1);
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            
            .c-sidebar-nav-title{
                height: 3rem;
                padding: 0 1rem;
                color: var(--textcolor);
                display: flex;
                align-items: center;
                cursor: pointer;
                background-color: var(--bgcolor1);
                width: 100%;
                transition: .5s;
                i{
                    margin-right: 1rem;
                    transition: 0.5s;
                }
                .span-title{
                    position: relative;
                    font-size: .9rem;
                    line-height: .9rem;
                    @media(max-width:1400px){
                        font-size: .8rem;
                        line-height: .8rem;
                    }
                }
                &.active{
                    background-color: var(--bgcolor2);
                    color: white;
                    text-shadow: 0px 00px 10px rgb(16, 185, 236);
                }
                .fa-chevron-right{
                    position: absolute;
                    right: 0;
                    font-size: .8rem;
                    transition: .5s;
                }
                &.active-nav{
                    .fa-chevron-right{
                        transform: rotate(90deg);
                    }
                }
            }
            .subsidebar{
                background-color: var(--bgcolor2);
                .fas.fa-circle{
                    font-size: .5rem;
                }
                &.active{
                    .fas.fa-circle{
                        color: white;
                    }
                }
            }
            .c-sidebar-nav-title:hover{
                i{
                    text-shadow: 0px 0px 4px #0086d4d2,
                        0px 0px 7px #2b96d4,
                        0px 0px 10px #3689b9,
                }
                .span-title{
                    color: white;
                    text-shadow: 0px 0px 4px #0086d4d2,
                        0px 0px 7px #2b96d4,
                        0px 0px 10px #3689b9,
                }
                
            }
            .sidebar-title{
                font-size: 1rem;
                .icon-speedometer{
                    width: 2rem;
                    height: 2rem;
                    filter: drop-shadow(
                        0px 00px 4px #a89b27,
                    );
                }
            }
            .sidebar-sub-title{
                font-size: .8rem;
            }
        }
    }

    // wrapper

    .wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: rgba(246, 246, 246, 0.897);
        .toggle{
            width: 4rem;
            height: 100%;
            padding: 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
                width: 100%;
                height: 100%;
                background-position: center;
            }
            &.left{
                margin-left: auto;
            }
        }
        .nav-wrapper{
            width: 100%;
            height: var(--heightNav);
            background-color: white;
            box-shadow: 0 0 10px -2px rgba(2, 27, 39, 0.26);
            display: flex;
            align-items: center;
            *{
                color:#000015b3
            }
            .content-links{
                .link{
                    font-size: .9rem;
                    line-height: .9rem;
                }
            }
        }
    }
    // Galery features
    .gallery-modal{
        position: absolute;
        width: 67rem;
        height: 74vh;
        min-height: 400px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: white;
        z-index: 10;
        box-shadow: 0 0 10px 0px rgba(80, 80, 80, 0.185);
        .close{
            width: 1.1rem;
            height: 1.1rem;
            mask-image: url("../../assets/images/icons/close-icon.svg");
            background-color: black;
            right: 1rem;
            top: 1rem;
            position: absolute;
            cursor: pointer;
        }
        .mask{
            mask-size: contain;
            mask-position: center;
            mask-repeat: no-repeat;
        }
        .features{
            display: flex;
            flex-direction: column;
            .content-features-galery{
                height: 100%;
            }
        }
    }
    .content-wrapper{
        width: 100%;
        height: calc(100vh - var(--heightNav));
        padding: 1rem;
        @media(max-width:1400px){
            padding: 1rem .7rem;
        }
        .features{
            position: relative;
            display: flex;
            flex-direction: column;
        }
    }
    .title-component{
        padding: 1.4rem;
        font-size: 1.3rem;
        @media(max-width:1400px){
            padding: 1.4rem .8rem;
        }
    }
    --gray:#ebebeb;
    .features,.features-default{
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow: 0 0 10px -2px #5c5c5c18;
    }
    .features-default{
        padding: 1rem;
    }
    .features{
        height: 100%;
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: dense;
        grid-auto-rows: auto 1fr;
        .content-features{
            padding: 0 1.4rem;
            padding-bottom: 1.4rem;
            height: 100%;
            display: flex;
            @media(max-width:1400px){
                padding: 0 .8rem;
            }
        }
        .content-features-galery{
            display: grid;
            grid-auto-columns: 1fr;
            grid-auto-flow: dense;
            grid-template-rows: repeat(auto-fit,minmax(0, auto));
            grid-auto-rows: auto auto auto 1fr;
            width: 100%;
            height: 100%;

            .nav-features{
                display: flex;
                width: 100%;
                position: relative;
                height: 3.2rem;
                align-items: center;
                &::after{
                    content: "";
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--gray);
                    position: absolute;
                    left: 0;
                }
                .btn-features{
                    border-bottom: 0;
                    padding: 0 1rem;
                    position: relative;
                    z-index: 1;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    .top-font{
                        font-size: .9rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &.active{
                        background-color: white;
                        border: 2px solid var(--gray);
                        border-bottom: 0;
                        position: relative;
                        &::after{
                            content: "";
                            top: 0;
                            width: 100%;
                            height: 3px;
                            background-color: var(--bgcolor1);
                            position: absolute;
                            left: 0;
                        }
                    }
                }
                #file{
                    pointer-events: none;
                    visibility: hidden;
                    position: absolute;
                }
                .add-file{
                    display: flex;
                    color: white;
                    padding: .7rem 1rem;
                    border-radius: .3rem;
                    cursor: pointer;
                    margin-right: .5rem;
                    i{
                        margin-right: 0.7rem;
                        font-size: .8rem;
                    }
                    .top-font{
                        line-height: .9rem;
                        font-size: .9rem;
                    }
                    
                }
                .btn-features:last-child{
                    border-left: 0;
                }
            }
            form.nav-features{
                padding-left: 1rem;
            }
        }
        .__images{
            width: 100%;
            height: 100%;
            padding: 1.2rem 1rem;
            display: flex;
            align-items: flex-start;
            overflow-y: scroll;
        }
        .insert__image{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-bottom: 1rem;
            padding-top: 1rem;
            padding-right: 1rem;
            border-top: 1px solid rgb(219, 219, 219);
            .btn{
                font-size: .9rem;
            }
        }
        .content-all-images{
            width: 100%;
            height: auto;
            display: grid;
            grid-gap: 1rem;
            gap: 1rem;
            grid-auto-flow: dense;
            grid-auto-rows: minmax(0,auto);
            grid-template-rows: auto;
            grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
            margin-bottom: 1rem;
            .content-img-item{
                border: 1px solid rgb(195, 202, 209);
                height: 10rem;
                overflow: hidden;
                cursor: pointer;
                position: relative;
                &.active{
                    border: 2px solid rgb(231, 54, 0);
                    .check{
                        display: flex;
                    }
                }
                &:hover{
                    .img{
                        transform: scale(1.1);
                    }
                }
                .img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .5s;
                }
                .check{
                    display: none;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 100%;
                    background-color: white;
                    position: absolute;
                    bottom: .5rem;
                    right: .5rem;
                    z-index: 2;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 0px 10px 0px rgba(8, 23, 87, 0.452);
                    font-size: .8rem;
                }
            }
        }
    }
    .header-sortable{
        height: 3.2rem;
        min-height: 3.2rem;
        border-bottom: 1px solid var(--border);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: .5rem;
    }
    .content-sortable{
        width: 33rem;
        min-width: 33rem;
        height: 18rem;
        border: 1px solid var(--border);
        display: flex;
        flex-direction: column;
        height: 100%;
        @media(max-width:1400px){
            width: 27rem;
            min-width: 27rem;
        }
    }
    .scroll{
        &::-webkit-scrollbar-thumb {
            animation: .5s animateScroll forwards;
            background-color: var(--bgcolor1);
            opacity: .5;
            border-radius: 4px;
            position: fixed;
        }

        &::-webkit-scrollbar {
            width: 6px;     /* Tamaño del scroll en vertical */
            height: 6px;    /* Tamaño del scroll en horizontal */
        }
    }
    .sortable{
        width: 100%;
        padding-left: 1rem;
        padding-right: .8rem;
        padding-top: 1rem;
        overflow-y: scroll;
        height: 100%;
        background: #f5f5f5;
        
        .item-sortable,.add-item-sortable{
            width: 100%;
            height: 3.2rem;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.034);
            margin-bottom: .5rem;
            border: 1px solid rgb(196, 196, 196);
            cursor: pointer;
            padding: 0 1rem;
            display: flex;
            align-items: center;
            font-size: .9rem;
            line-height: .9rem;
            background-color: #fff;
            i{
                color: #808080;
                margin-right: 1rem;
            }
            .span-title{
                position: relative;
                font-size: .8rem;
                width: 100%;
                padding-right: .5rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .item-sortable{
            // opacity: 1!important;
            // visibility: visible!important;
            .btn-delete{
                margin-left: auto;
                margin-right: .3rem;
                border-radius: 40rem;
                padding: .5rem .7rem;
                padding-right: 1rem;
                font-size: .8rem;
                line-height: .8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width:1400px){
                    font-size: .6rem;
                    line-height: .6rem;
                    padding: .5rem .5rem;
                    padding-right: .5rem;
                }
                i{
                    color: white;
                    margin-right: .7rem;
                    @media(max-width:1400px){
                        margin-right: .4rem;
                    }
                }
                .span-title{
                    overflow: inherit;
                }
            }
            .btn-delete:last-child{
                margin-right: 0;
                margin-left: 0;
            }
        }
        .item-sortable:last-child{
            margin-bottom: 0;
        }
       
    }
    .add-item-sortable{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        i{
            margin-right: 0!important;
        }
    }
    .option-sortable-image{
        width: 100%;
        border: 1px solid var(--border);
        border-left: 0;
        display: flex;
        flex-direction: column;
        
        .content-option-images{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding: 1rem;
            &.content-btn-button{
                z-index: 3;
                position: relative;
            }
        }
        .scroll{
            height: 100%;
            overflow-y: scroll;
            position: relative;
            &.inactive::after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.678);
                z-index: 2;
            }
        }
    }
    .content-option-images{
        padding: 1rem;
        .flex-column{
            margin-bottom: 1rem;
        }
        .title-option-image{
            font-size: .8rem;
        }
        input{
            border: 0;
            border-bottom: 1px solid var(--border);
            padding: .5rem;
        }
        .btn-submit{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            line-height: .8rem;
            position: relative;
            height: 2.2rem;
            border-radius: 17rem;
            position: relative;
            cursor: pointer;
            .span-title{
                position: relative;
            }
        }
    }
    .title-upload{
        font-size: .8rem;
        margin-bottom: 1rem;
        display: flex;
    }
    .select_to_gallery{
        width: 100%;
        height: 1.8rem;
        font-size: .7rem;
        border-radius: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: .8rem;
        cursor: pointer;
        user-select: none;
    }
    .upload-images{
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 1rem;
        padding-top: 0;
        .upload-image-desktop, .upload-image-movil{
            .content-img{
                height: 13rem;
                border-style: dotted;
                border-radius: 1rem;
                border-color: #717188;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: .5s;
                overflow: hidden;
                @media(max-width:1400px){
                    height: 10rem;
                }
                .img{
                    height: 100%;
                }
                &:hover,&.active{
                    border-color: var(--bgcolor1);
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.151);
                    transform: scale(1.005);
                }
                .icon{
                    width: 100%;
                    height: 4rem;
                    background: #717188;
                    @media(max-width:1400px){
                        height: 3rem;
                    }
                }
                .message{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: .8rem;
                    @media(max-width:1400px){
                        font-size: .7rem;
                    }
                }
            }
        }
    }
    .upload-image-desktop{
        margin-right: 1rem;
        .content-img{
            width: 20rem;
            @media(max-width:1400px){
                width: 16rem;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .upload-image-movil{
        .content-img{
            width: 12rem;
            @media(max-width:1400px){
                width: 10rem;
            }
        }
    }
}