body{
    margin: 0;
    padding: 0;
}
:root{
    --primary:#000b21;
    --secondary:#01BBBC
}
*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins-Regular";
    -webkit-tap-highlight-color:transparent;
    outline: none;
}
a {
    text-decoration: none;
}
// slick react
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}

// icons
    .icon-mask{
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
    }
    .icon-heart{
        mask-image: url("../images/icons/icon-heart.svg");
    }
    .icon-add-cart{
        mask-image: url("../images/icons/add-to-cart.svg");
    }
    .icon-view{
        mask-image: url("../images/icons/view.svg");
    }
    .icon-star{
        mask-image: url("../images/icons/star.svg");
    }
    .icon-laptop{
        mask-image: url("../images/icons/laptop.svg");
    }
    .icon-computadora{
        mask-image: url("../images/icons/computadora.svg");
    }
    .icon-componentes{
        mask-image: url("../images/icons/componentes.svg");
    }
    .icon-movil{
        mask-image: url("../images/icons/movil.svg");
    }
    .accesorios-moviles{
        mask-image: url("../images/icons/auricular.svg");
    }
// 

.container{
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @media(min-width:800px){
        max-width: 800px;
    }
    @media(min-width:1000px){
        max-width: 1000px;
    }
    @media(min-width:1300px){
        max-width: 1250px;
    }
    @media(min-width:1400px){
        max-width: 1400px;
    }
    @media(min-width:1600px){
        max-width: 1600px;
    }
}

.pointer{
    pointer-events: none;
}
.w-100{
    width: 100%;
}
.center{
    margin: auto;
    position: relative;
    display: block;
    margin-left: auto!important;
    margin-right: auto!important;
}
.nothing{
    padding: 1rem;
    padding-top: .7rem;
}
.c-white{
    color: white;
}
.c-black{
    color: black;
}
.b-secondary{
    background-color: var(--secondary);
}
.c-secondary{
    color: var(--secondary);
}
.b-primary{
    background-color: var(--primary);
}
.c-primary{
    color: var(--primary);
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.btn-padding{
    padding: .5rem 1rem;
}