@font-face {
    font-family: "GalanoGrotesque-Light";
    font-display: swap;
    src: url("../fonts/GalanoGrotesque-Light.woff") format("woff");
}

@font-face {
    font-family: "GalanoGrotesque-Medium";
    font-display: swap;
    src: url("../fonts/GalanoGrotesque-Medium.woff") format("woff");
}

@font-face {
    font-family: "GalanoGrotesque-MediumItalic";
    font-display: swap;
    src: url("../fonts/GalanoGrotesque-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "GalanoGrotesque-SemiBold";
    font-display: swap;
    src: url("../fonts/GalanoGrotesque-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "GalanoGrotesque-SemiBoldItalic";
    font-display: swap;
    src: url("../fonts/GalanoGrotesque-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "GalanoGrotesque-Bold";
    font-display: swap;
    src: url("../fonts/GalanoGrotesque-Bold.woff") format("woff");
}

@font-face {
    font-family: "Vermin-Vibes-V";
    font-display: swap;
    src: url("../fonts/Vermin-Vibes-V.woff") format("woff");
}

.GalanoGrotesque-Medium{
    font-family: "GalanoGrotesque-Medium";
}
.GalanoGrotesque-MediumItalic{
    font-family: "GalanoGrotesque-MediumItalic";
}